<li
  data-testid="todo"
  [ngClass]="{ editing: isEditing, completed: todo.isCompleted }"
>
  <div class="view">
    <input
      class="toggle"
      data-testid="toggle"
      type="checkbox"
      [checked]="todo.isCompleted"
      (change)="toggleTodo()"
    />
    <label data-testid="label" (dblclick)="setTodoInEditMode()">{{
      todo.text
    }}</label>
    <button
      data-testid="destroy"
      class="destroy"
      (click)="removeTodo()"
    ></button>
  </div>

  @if(isEditing) {
  <input
    #textInput
    data-testid="edit"
    class="edit"
    [value]="editingText"
    (keyup)="changeText($event)"
    (keyup.enter)="changeTodo()"
  />
  }
</li>
