<li
  data-testid="todo"
  [ngClass]="{ editing: isEditing, completed: todo.isCompleted }"
>
  <div class="view">
    <input
      class="toggle"
      data-testid="toggle"
      data-cy="todoCheckbox"
      type="checkbox"
      [checked]="todo.isCompleted"
      (change)="toggleTodo()"
    />
    <label
      data-testid="label"
      data-cy="todoLabel"
      (dblclick)="setTodoInEditMode()"
      >{{ todo.text }}</label
    >
    <button
      data-testid="destroy"
      data-cy="destroy"
      class="destroy"
      (click)="removeTodo()"
    ></button>
  </div>

  @if(isEditing) {
  <input
    #textInput
    data-testid="edit"
    data-cy="edit"
    class="edit"
    [value]="editingText"
    (keyup)="changeText($event)"
    (keyup.enter)="changeTodo()"
  />
  }
</li>
